*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body{
    color: #e2e2f8;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body h1{
    font-weight: 550;
    font-size: 56px;
    color: #e2e2f8;
}

#home{
    display: flex;
    flex-direction: column;
    background: #e6e6f3;

}

.mobile-background{
    display: none;
    position: fixed;
    z-index: -1000000;
}

.floating-circle {
    width: 150px;
    height: 150px;
    border: 10px solid #d3dcdf;
    border-radius: 50%;
    background: transparent;
    position: absolute;
    pointer-events: none;
    z-index: -1000;
}


/*--------------------------navbar-----------------------*/

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 5%;
    z-index: 1000;
}

.nav-logo{
    width: 80px;
    background: #e6e6f3;
    padding: 10px;
    border-radius: 40px;
}


nav .nav-links ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 2px;
}

.navbar-link{
    color: #1b1729;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    padding: 5px 10px;
    border-radius: 25px;
    background: #e6e6f3;
}

.navbar-link span{
    color:#1b1729;
}

.navbar-link:hover{
    color: #6e78a5;

}

.navbar-link.active-link {
    border-radius: 25px;
    background: #e6e6f3;
    color: #1b1729;
}

.navbar-link.active-link:hover {
    color: #6e78a5;
}

.navbar-link.active-link span{
    color: #1b1729;
}

nav .social-media{
    padding: 0;
    background: #e6e6f3;
    border-radius: 15px;

}

nav .social-media ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.5s;
}

nav .social-media ul li a{
    color: #1b1729;
}

nav .social-media ul li:hover{
    transform: translateY(-5px);
}

nav .social-media ul li:hover a{
    color: #6e78a5;
}

/*--------------------------home----------------------*/


.home{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1200px;
}

.hero-mobile{
    display: none;
}

.background{
    position: fixed;
    top: -300px;
    z-index: -100;
}

.home-logo{
    width: 40%;
    margin-top: 25%;
    position: fixed;
    z-index: 1;
}

.home-logo img {
    width: 22%;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.home-text{
    position: absolute;
    margin-top: 30%;
    width: 100%;;
    font-size: 20px;
    color: #1b1729;
    z-index: 100;
}

.parallax-right{
    position:absolute;
    top: 0;
    left: 41%;
}

.parallax-left{
    position:absolute;
    top: 100px;
    left: 41%;
}

.home-text h1{
    font-size: 60px;
    color:#1b1729;
}

.home-text h1 span{
    font-size: 72px;
    color: #1b1729;
}



/*------------------------about-----------------------*/

#about{
    padding: 80px 0;
    height: 110vh;
    background: #1b1729;
    z-index: 10;
}

#about h1{
    margin-bottom: 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
}

.about-col-1{
    flex-basis: 40%;
    position: relative;
    height: auto;
}

.about-col-1 img{
    margin: 10% 0 10% 15%;
    position: relative;
    width: 80%;
    height: auto;
}

.about-col-2{
    flex-basis: 50%;
    margin: 5%;
}

.about-col-2 p{
    padding-top: 5px;
    font-size: 20px;
    line-height: 1.2;
}

.tab-titles{
    display: flex;
    margin: 30px 0 30px;
}

.tab-links{
    margin-right: 80px;
    font-size: 24px;
    font-weight: 600;
    color:#e2e2f8;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    border: 3px solid transparent;
    border-radius: 25px;
}

.skills-link{
    border: 3px solid #d47636;
}

.skills-link:hover{
    background: #d47636;
}

.skills-link.active-link{
    color: #1b1729;
    border: 3px solid #d47636;
    background: #d47636;
}

.education-link{
    border: 3px solid #c6aed2;
}

.education-link:hover{
    background: #c6aed2;
}

.education-link.active-link{
    color: #1b1729;
    border: 3px solid #c6aed2;
    background: #c6aed2;
}

.experience-link{
    border: 3px solid #80c3b3;
}

.experience-link:hover{
    background: #80c3b3;
}

.experience-link.active-link{
    color: #1b1729;
    border: 3px solid #80c3b3;
    background: #80c3b3;
}

.tab-contents.skills.active-tab{
    display: flex;
    flex-wrap: wrap;
}

.skillcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.skillcard img{
    margin: 10px 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #646b89;
    box-shadow: 0px 0px 3px 3px #6e78a5;
}

.skillcard h3{
    font-size: 16px;
}

.tab-contents ul li{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #e2e2f8;
    font-weight: 500;
    font-size: 20px;
    font-weight: 580;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------------------------services-----------------------*/

#services{
    padding: 100px 0;
    height: 110vh;    
    background: #e6e6f3;
    z-index: 10;
}

#services .container{
    padding: 6% 5% 5% 5%;
}

#services h1{
    color: #1b1729;
    margin-bottom: 80px;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    color: #1b1729;
}

.service1{
    background: #d47636;
}

.service1 a{
    color: #d47636;
}

.service2{
    background: #c6aed2;
}

.service2 a{
    color: #c6aed2;
}

.service3{
    background: #80c3b3;
}

.service3 a{
    color: #80c3b3;
}

.services-list div{
    padding: 40px;
    font-size: 18px;
    font-weight: 550;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-list div i{
    font-size: 72px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    box-shadow: 0px 0px 5px 5px #646b89;
    transform: scale(1.03);
}

.services-list div:hover a{
    color: #1b1729;
}

/*------------------------websites-----------------------*/

#my-work{
    display: flex;
}


#websites{
    padding: 50px 0;
    height: 100vh;
    background: #1b1729;
}

#websites .container{
    width: 2200px;
    padding: 50px 5% 5% 5%;
}

#websites h1{
    margin-bottom: 30px;
}

.website-list{
    display: flex;
    grid-gap: 200px;
    margin-left: 20px;
}

.website{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 520px;
}

.website:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 5px #646b89;

}

.website1{
    background: #d47636;
}

.website2{
    background: #c6aed2;
}

.website3{
    background: #80c3b3;
}

.website img{
    width: 450px;
    min-height: 250px;
    display: block;
    border-top: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.website-description{
    width: 450px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1b1729;
    background: #e2e2f8;
    border-bottom: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.website-description h2{
    font-weight: bold;
    margin: 3% 0;
}

.website-description h3{
    font-weight: 400;
    margin-top: 3%;
}

.website-description .buttons{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.website-description .buttons a{
    margin: 0 20px;
    color: #1b1729;
    text-decoration: none;
    font-size: 32px;
    line-height: 60px;
    background: #b1b1c2c4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.website-description .buttons a:hover{
    background: #646b89;
}

.websitesDates h3{
    font-size: 20px;
    margin-top: 10px;
}

.websiteDate1, .websiteDate2, .websiteDate3{
    position: absolute;
    bottom: 69px;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}

.websiteDate2{
    left: 785px;
}

.websiteDate3{
    left: 1450px;
}

#websitesProgressBar{
    display: inline-block;
    position: absolute;
    bottom: 120px;
    left: 365px;
    height: 3px;
    width: 0;
    background: #e2e2f8;
}


/*------------------------games-----------------------*/
#games{
    padding: 50px 0;
    height: 100vh;
    background: #1b1729;
    border-left: solid 3px #e2e2f8;
    border-right: solid 3px #e2e2f8 ;
}

#games .container{
    width: 2900px;
    padding: 50px 5% 5% 5%;
}

#games h1{
    margin-bottom: 30px;
}

.game-list{
    display: flex;
    grid-gap: 200px;
    margin-left: 20px;
}

.game{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 520px;
}

.game:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 5px #646b89;

}

.game1{
    background: #d47636;
}

.game2{
    background: #c6aed2;
}

.game3{
    background: #80c3b3;
}

.game4{
    background: #d47636;
}

.game video{
    max-width: 450px;
    display: block;
    border-top: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.game-description{
    width: 450px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: height 0.5s;
    color: #1b1729;
    background: #e2e2f8;
    border-bottom: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.game-description h2{
    font-weight: bold;
    margin: 3% 0;
}

.game-description h3{
    font-weight: 400;
    margin-top: 3%;
}

.game-description .buttons{
    position: absolute;
    bottom: 50px;
    display: flex;
}

.game-description .buttons a{
    margin: 0 20px;
    color: #1b1729;
    text-decoration: none;
    font-size: 32px;
    line-height: 60px;
    background: #b1b1c2c4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.game-description .buttons a:hover{
    background: #646b89;
}

.gamesDates{
    display: flex;
    flex-direction: row;
    font-size: 28px;
}

.gamesDates h3{
    font-size: 20px;
    margin-top: 10px;
}

.gameDate1, .gameDate2, .gameDate3, .gameDate4{
    position: absolute;
    bottom: 69px;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}

.gameDate2{
    left: 3020px;
}

.gameDate3{
    left: 3695px;
}

.gameDate4{
    left: 4359px;
}


#gamesProgressBar{
    position: absolute;
    bottom: 120px;
    left: 2602px;
    height: 3px;
    width: 0;
    background: #e2e2f8;
}



/*------------------------programs-----------------------*/

#programs{
    padding: 50px 0;
    height: 100vh;
    background: #1b1729;
}

#programs .container{
    width: 2200px;
    padding: 50px 5% 5% 5%;
}

#programs h1{
    margin-bottom: 30px;
}

.program-list{
    display: flex;
    grid-gap: 200px;
    margin-left: 20px;
}

.program{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 520px;
}

.program:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 5px 5px #646b89;

}

.program1{
    background: #d47636;
}

.program2{
    background: #c6aed2;
}

.program3{
    background: #80c3b3;
}

.program img{
    width: 450px;
    min-height: 250px;
    display: block;
    border-top: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.program-description{
    width: 450px;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1b1729;
    background: #e2e2f8;
    border-bottom: solid 1px #1b1729;
    border-right: solid 1px #1b1729;
    border-left: solid 1px #1b1729;
}

.program-description h2{
    font-weight: bold;
    margin: 3% 0;
}

.program-description h3{
    font-weight: 400;
    margin-top: 3%;
}

.program-description a{
    position: absolute;
    bottom: 50px;
    color: #1b1729;
    text-decoration: none;
    font-size: 32px;
    line-height: 60px;
    background: #b1b1c2c4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.program-description a:hover{
    background: #646b89;
}

.programsDates h3{
    font-size: 20px;
    margin-top: 10px;
}

.programDate1, .programDate2, .programDate3{
    position: absolute;
    bottom: 69px;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 28px;
}

.programDate2{
    left: 5890px;
}

.programDate3{
    left: 6556px;
}

#programsProgressBar{
    position: absolute;
    bottom: 120px;
    left: 5471px;
    height: 3px;
    background: #e2e2f8;
}




/*------------------------contact-----------------------*/

#contact{
    padding: 8300px 0 20px 0;
    background: #e6e6f3;
}

#contact .container{
    padding: 3% 5% 5% 5%;
}

#contact h1{
    margin-bottom: 30px;
}

.contact-left{
    flex-basis: 30%;
    margin-left: 6%;
    background: #e2e2f8;
    padding: 60px;
    z-index: 100;
    border: solid 10px #d47636;

}

.contact-left h1{
    color: #1b1729;
}

.contact-right{
    background: #e2e2f8;
    border: solid 10px #c6aed2;
    flex-basis: 60%;
}

.contact-left h2{
    color: #1b1729;
}

.contact-left p{
    margin-top: 5%;
    color: #1b1729;
}

.contact-left p a{
    text-decoration: none;
    color: #1b1729;
}

.contact-left p i{
    color: #1b1729;
    margin-right: 5%;
    font-size: 25px;
}

.contact-left .social-media{
    padding: 40px 0;
}

.contact-left .social-media ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.5s;

}

.contact-left .social-media ul li a{
    color: #1b1729;
}

.contact-left .social-media ul li:hover{
    transform: translateY(-5px);
}

.contact-left .social-media ul li:hover a{
    color: #6e78a5;
}

.btn{
    display: block;
    margin-bottom: 5%;
    width: fit-content;
    background: #80c3b3;
    border: 1px solid #646b89;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#1b1729;
    transition: background 0.3s;
    font-size: 16px;
}

.btn:hover{
    background: #d47636;
}

.contact-right{
    z-index: 10;
}

.contact-right form{
    padding: 30px;
}

form input, form textarea{
    width: 100%;
    border: 1px solid #646b89;
    outline: none;
    background: #f0f0ffc4;
    padding: 15px;
    margin: 15px 0;
    color: #646b89;
    font-size: 18px;
    border-radius: 6px;
    resize: none;
}

form textarea{
    margin-bottom: 30px;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background: #80c3b3;
}

.copyright p{
    color: #f0f0ffc4;
}


#circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}


/*------------------------small screens-----------------------*/

nav .fas{
    display: none;
}


@media screen and (max-width: 1400px){

    body{
        width: 100%;
        overflow-x: hidden;
    }

    #home, #services, #about, #websites, #games, #programs, #contact{
        height: 100%;
    }

    #services, #about, #websites, #games, #programs, #contact{
        padding: 50px 0;
    }

    #circle-container {
        display: none;
    }


    .hero-image, .home-logo, .home-text{
        display: none;
    }

    .hero-mobile{
        display: block;
        width: 100%;
    }

    .hero-mobile img{
        width: 100%;
    }

    .home{
        margin-bottom: 200px;
    }

    nav .fas{
        display: block;
        font-size: 25px;
        color: #80c3b3;
    }

    nav .fa-bars{
        color: #80c3b3;
        position: absolute;
        top: 25px;
        right: 25px;;
    }

    .nav-links ul{
        background: #646b89;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    
    .nav-links ul .fas{
        position: absolute;
        top: 25px;
        right: 30px;
        cursor: pointer;
    }

    .navbar-link{
        display: block;
        margin: 10px 0px 10px 20px;
        color: #1b1729;
    }

    .navbar-link i{
        color: #1b1729;
    }

    .navbar-link.active-link {
        background: #80c3b3;
        color: #1b1729;
    }
    
    .navbar-link.active-link i{
        color: #1b1729;
    }

    .row{
        flex-direction: column;
    }

    .about-col-1 img{
        margin: 10% 0 10% 10%;
    }

    .services-list{
        display: flex;
        flex-direction: column;
        color: #1b1729;
    }    
        
    #my-work{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .website-list, .game-list, .program-list{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .website, .game, .program{
        width: 500px;
    }

    #websites .container, #games .container, #programs .container{
        width: 100%;
    }
    
    #websites .container img, #programs .container img{
        max-width: 100%;
    }

    #games{
        border: none;
    }

    .websitesDates, .gamesDates, .programsDates, #websitesProgressBar, #gamesProgressBar, #programsProgressBar{
        display: none;
    }

}

@media screen and (max-width: 768px) {

    body{
        overflow-x: hidden;
    }

    .home{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 0;
    }

    .home-text{
        display: none;
    }

    .hero-image{
        display: none;
    }

    .hero-mobile{
        display: block;
        width: 100vb;
    }

    .home-text h1{
        font-size: 20px;
    }

    .home-logo{
        display: none;
    }

    body h1{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1 img{
        margin: 10% 10%;
    }

    .tab-links{
        font-size: 18px;
        margin-right: 20px;
    }

    .tab-contents p{
        font-size: 18px;
    }

    .services-list div{
        max-width: 100%;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
        margin-left: 15px;
        padding-left: 0;
    }

    .contact-right form{
        margin: 0;
    }
    
    .skillcard img{
        padding-right: 0;
    }

    .website, .game, .program{
        width: 350px;
        height: 440px;
    }

    .website-description, .game-description, .program-description{
        width: 330px;
    }

    .game video{
        width: 330px;
    }

    .website img, .program img{
        min-height: 200px;
    }

    .website-description .buttons, .game-description .buttons, .program-description a{
        bottom: 20px;
    }
    
    .website-description .buttons a, .game-description .buttons a, .program-description a{
        margin: 0 20px;
        font-size: 24px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }

}