* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  --mainColor1: #e6e6f3;
  --mainColor2: #1b1729;
  --accentColor: #646b89;
  --hoverColor: #37374e;
  color: var(--mainColor1);
  background: var(--mainColor1);
  display: flex;
  flex-direction: column;
}

body h1 {
  font-weight: 550;
  font-size: 42px;
  color: var(--mainColor1);
}

body h1 span {
  font-size: 40px;
  padding-right: 25px;
}

.floating-circle {
  width: 150px;
  height: 150px;
  border: 10px solid #d3dcdf;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: -1000;
}

/*--------------------------navbar-----------------------*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 5%;
  z-index: 1000;
}

.nav-logo {
  width: 80px;
  background: var(--mainColor1);
  padding: 10px;
  border-radius: 40px;
}

nav .nav-links ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 2px;
}

.navbar-link {
  color: var(--mainColor2);
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 10px;
  border-radius: 25px;
  background: var(--mainColor1);
  transition: background 0.15s ease-in-out;
}

.navbar-link span {
  color: var(--mainColor2);
}

.navbar-link:hover {
  background: var(--accentColor);
}

.active-navbar-link {
  background: var(--accentColor);
}

nav .social-media {
  padding: 0;
  background: var(--mainColor1);
  border-radius: 15px;
}

nav .social-media ul li {
  display: inline-block;
  margin: 0 15px;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.5s;
}

nav .social-media ul li a {
  color: var(--mainColor2);
}

nav .social-media ul li:hover {
  transform: translateY(-5px);
}

nav .social-media ul li:hover a {
  color: var(--accentColor);
}

/*--------------------------home----------------------*/

.home {
  width: 100%;
  padding-bottom: 2000px;
  background: var(--mainColor1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
}

.home-logo {
  position: fixed;
  margin-top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.main-logo {
  position: absolute;
  width: 160px;
}

.segment {
  position: absolute;
  display: block;
  align-items: center;
}

.segment1 {
  width: 120px;
  height: 120px;
  border: solid 4px #d47636;
  border-radius: 50%;
}

.segment2 {
  width: 160px;
  height: 160px;
  border: solid 2px #c6aed2;
  border-radius: 50%;
}

.segment3 {
  width: 180px;
  height: 180px;
  border: solid 3px var(--mainColor2);
  border-radius: 50%;
}

.segment4 {
  width: 200px;
  height: 200px;
  border: solid 6px #80c3b3;
  border-radius: 50%;
}

.segment5 {
  width: 240px;
  height: 240px;
  border: solid 4px #d47636;
  border-radius: 50%;
}

.segment6 {
  width: 260px;
  height: 260px;
  border: solid 3px var(--mainColor2);
  border-radius: 50%;
}

.home-text {
  font-size: 20px;
  color: var(--mainColor2);
  margin-top: 70vh;
  position: fixed;
}

.home-text h1 {
  font-size: 60px;
  color: var(--mainColor2);
}

.home-text h1 span {
  font-size: 72px;
  color: var(--mainColor2);
}

/*------------------------about-----------------------*/

#about {
  padding: 2% 0;
  height: 110vh;
  background: var(--mainColor2);
  z-index: 10;
}

#about .container {
  height: 100%;
  display: flex;
}

#about h1 {
  margin-bottom: 20px;
}

#about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 40%;
  transform: scale(1.5) translateX(40%) translateY(400px);
}

.about-col-1 img {
  margin: 10% 0 10% 15%;
  position: relative;
  width: 80%;
}

.about-col-2 {
  flex-basis: 50%;
  margin: 5%;
  transform: translateX(3000px);
}

.about-col-2 p {
  padding-top: 5px;
  font-size: 20px;
  line-height: 1.2;
}

.tab-titles {
  display: flex;
  margin: 30px 0;
}

.tab-links {
  margin-right: 80px;
  font-size: 20px;
  font-weight: 500;
  color: var(--mainColor1);
  cursor: pointer;
  position: relative;
  padding: 15px 15px;
  border-radius: 8px;
  background: var(--accentColor);
}

.tab-links:hover {
  background: var(--hoverColor);
}

.tab-links.active-link {
  background: var(--hoverColor);
}

.tab-contents.skills.active-tab {
  display: flex;
  flex-wrap: wrap;
}

.skillcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.skillcard img {
  margin: 10px 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--accentColor);
  box-shadow: 0px 0px 3px 3px #6e78a5;
}

.skillcard h3 {
  font-size: 16px;
}

.tab-contents ul li {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: var(--mainColor1);
  font-weight: 500;
  font-size: 20px;
  font-weight: 580;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}

/*------------------------services-----------------------*/

#services {
  padding: 1200px 0 900px 0;
  height: 110vh;
  background: var(--mainColor1);
}

#services .container {
  padding: 50px 5%;
  height: 100%;
}

#services h1 {
  position: relative;
  color: var(--mainColor2);
  margin-bottom: 80px;
  z-index: 0;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  color: var(--mainColor1);
  margin: 10% 0;
}

.service1 {
  transform: translateY(-1000px);
}

.service2 {
  transform: translateY(-1000px);
}

.service3 {
  transform: translateY(-1000px);
}

.services-list div {
  padding: 40px;
  font-size: 18px;
  font-weight: 550;
  transition: box-shadow 0.3s;
  z-index: 0;
  box-shadow: 6px 6px 10px #333;
  background: var(--accentColor);
  border-radius: 5px;
  transition: background 0.2s ease-in-out;
}

.services-list div i {
  font-size: 72px;
  margin-bottom: 30px;
}

.services-list div h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.services-list div a {
  text-decoration: none;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
  color: var(--accentColor);
}

.services-list div:hover {
  background: var(--hoverColor);
}

.services-list div:hover a {
  color: var(--mainColor1);
}

/*------------------------my projects-----------------------*/

#my-work {
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background: var(--mainColor2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#my-work h1 {
  margin: 100px 0 0 100px;
}

.work-display {
  height: 55vh;
  display: flex;
  align-items: center;
}

.work-displayed {
  flex-basis: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  height: 100%;
  margin-right: 5%;
}

.work-displayed .media {
  width: 45%;
  height: auto;
  border: solid 10px var(--accentColor);
  border-radius: 5px;
}

.work-displayed .work-description {
  height: 80%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.work-displayed .work-description h2 {
  font-size: 38px;
}

.work-displayed .work-description p {
  font-size: 24px;
  margin: 30px 0;
}

.work-displayed .work-description .buttons {
  display: flex;
  justify-content: space-between;
}
.work-displayed .work-description .buttons a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--accentColor);
  color: var(--mainColor1);
  font-size: 16px;
  width: 48%;
  height: 50px;
  border-radius: 10px;
  transition: background 0.15s ease-in-out;
}

.work-displayed .work-description .buttons a:hover {
  background: var(--hoverColor);
}

.work-displayed .work-description .buttons i {
  font-size: 32px;
  margin: 0 10px 0 0;
}

.work-displayed .work-date {
  font-size: 20px;
  margin-top: 20px;
}

.filters {
  flex-basis: 8%;
  font-size: 18px;
  text-align: center;
  margin-left: 5%;
}

.filters ul {
  list-style: none;
}

.filter {
  background: var(--accentColor);
  border-radius: 2px;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.filter:hover {
  background: var(--hoverColor);
}

.active-filter {
  background: var(--hoverColor);
}

.work-scroller {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 13%;
  overflow-x: scroll;
  background: var(--mainColor2);
  padding: 10px 20px 10px 10px;
  margin-bottom: 1%;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
}

.work {
  padding: 10px;
  background: var(--accentColor);
  color: var(--mainColor1);
  transition: transform 0.2s ease-in-out, background 0.15s ease-in-out;
  border-radius: 3px;
  scroll-snap-align: start;
}

.work:hover {
  cursor: pointer;
  background: var(--hoverColor);
}

.active-work {
  background: var(--hoverColor);
}

.media {
  inline-size: 100%;
}

.work-description {
  margin-top: 5px;
}

.work p,
.work .buttons {
  display: none;
}

.work h2 {
  font-size: 18px;
}

.work h3 {
  font-size: 15px;
  font-weight: 400;
}

.work-date span {
  color: #d47636;
  font-weight: bold;
}

/*------------------------contact-----------------------*/

#contact {
  background: var(--mainColor1);
}

#contact .container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact h1 {
  margin-bottom: 30px;
}

#contact .row {
  height: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.contact-left {
  flex-basis: 30%;
  background: var(--mainColor1);
  padding: 60px;
  z-index: 100;
  border: solid 2px #d3dcdf;
  display: flex;
  flex-direction: column;
}

.contact-left h1 {
  color: var(--mainColor2);
}

.contact-right {
  background: var(--mainColor1);
  border: solid 2px #d3dcdf;
  flex-basis: 60%;
}

.contact-left h2 {
  color: var(--mainColor2);
}

.contact-left p {
  margin-top: 5%;
  color: var(--mainColor2);
}

.contact-left p a {
  text-decoration: none;
  color: var(--mainColor2);
}

.contact-left p i {
  color: var(--mainColor2);
  margin-right: 12px;
  font-size: 25px;
}

.contact-left .social-media {
  padding: 40px 0;
}

.contact-left .social-media ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.5s;
}

.contact-left .social-media ul li a {
  color: var(--mainColor2);
}

.contact-left .social-media ul li:hover {
  transform: translateY(-5px);
}

.contact-left .social-media ul li:hover a {
  color: #6e78a5;
}

.btn {
  display: block;
  width: fit-content;
  background: var(--accentColor);
  border: 1px solid var(--accentColor);
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: var(--mainColor1);
  transition: background 0.3s;
  font-size: 16px;
}

.btn:hover {
  background: var(--hoverColor);
  cursor: pointer;
}

.btn:active {
  background: var(--mainColor1);
}

.contact-right {
  z-index: 10;
}

.contact-right form {
  padding: 5%;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid var(--accentColor);
  outline: none;
  background: #f0f0ffc4;
  padding: 15px;
  margin: 15px 0;
  color: var(--accentColor);
  font-size: 18px;
  border-radius: 6px;
  resize: none;
}

form textarea {
  margin-bottom: 30px;
}

.copyright {
  text-align: center;
  padding: 40px 0;
  background: var(--mainColor2);
  z-index: 0;
}

.copyright p {
  color: #f0f0ffc4;
}

#circle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

/*------------------------small screens-----------------------*/

nav .fas {
  display: none;
}

@media screen and (max-width: 1300px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  #home,
  #services,
  #about,
  #contact {
    height: 100%;
  }

  #services,
  #about,
  #contact {
    padding: 0;
  }

  #contact {
    padding-top: 50px;
  }

  .home {
    margin-bottom: 200px;
  }

  nav .fas {
    display: block;
    font-size: 25px;
    color: #80c3b3;
  }

  nav .fa-bars {
    color: var(--mainColor2);
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 30px;
    background: var(--mainColor1);
    padding: 5px;
    border-radius: 20%;
  }

  .nav-links ul {
    background: var(--accentColor);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }

  .nav-links ul .fas {
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
  }

  .navbar-link {
    display: block;
    margin: 10px 0px 10px 20px;
    color: var(--mainColor2);
  }

  .navbar-link i {
    color: var(--mainColor2);
  }

  .navbar-link.active-link {
    background: #80c3b3;
    color: var(--mainColor2);
  }

  .navbar-link.active-link i {
    color: var(--mainColor2);
  }

  #about .container {
    flex-direction: column;
  }

  #about .row {
    flex-direction: column;
  }

  .about-col-1 {
    transform: scale(0) translateY(0) translateX(0);
  }

  .about-col-2 {
    transform: translateX(0);
  }

  .about-col-1 img {
    margin: 10% 0;
  }

  .services-list {
    display: flex;
    flex-direction: column;
  }

  .service1,
  .service2,
  .service3 {
    transform: translateY(0);
    transform: translateX(-1500px);
  }

  #my-work h1 {
    margin: 0 0 20px 50px;
  }

  .work-display {
    height: 65vh;
  }

  .work-displayed {
    flex-basis: 85%;
    flex-direction: column;
  }

  .work-displayed .media {
    width: 70%;
    margin-top: 5%;
  }

  .work-displayed .work-description {
    width: 80%;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .work-displayed .work-description h2 {
    font-size: 28px;
  }

  .work-displayed .work-description p {
    font-size: 20px;
    margin: 20px 0;
  }

  .work-displayed .work-description .buttons a {
    font-size: 16px;
  }

  .work-displayed .work-description .buttons i {
    font-size: 20px;
  }

  .work-displayed .work-date {
    font-size: 16px;
  }

  .filters {
    flex-basis: 10%;
    font-size: 15px;
    margin-left: 2%;
  }

  .work-scroller {
    grid-auto-columns: 27%;
  }

  #contact .container {
    height: 100%;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
    margin-bottom: 35px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .home-text h1 {
    font-size: 20px;
  }

  body h1 {
    font-size: 40px;
  }

  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-1 img {
    margin: 10% 10%;
  }

  .tab-links {
    font-size: 18px;
    margin-right: 20px;
  }

  .tab-contents p {
    font-size: 18px;
  }

  .services-list div {
    max-width: 100%;
  }

  #my-work h1 {
    margin: 0 0 20px 50px;
  }

  .work-display {
    height: 65vh;
    flex-direction: column;
  }

  .work-displayed {
    margin-right: 0;
  }

  .work-displayed .media {
    width: 90%;
  }

  .work-displayed .work-description {
    width: 80%;
    flex-direction: column;
    margin-bottom: 5%;
  }

  .work-displayed .work-description h2 {
    font-size: 20px;
  }

  .work-displayed .work-description p {
    font-size: 16px;
    margin: 14px 0;
  }

  .work-displayed .work-description .buttons a {
    font-size: 14px;
  }

  .work-displayed .work-description .buttons i {
    font-size: 20px;
  }

  .work-displayed .work-date {
    font-size: 14px;
  }

  .filters {
    width: 90%;
  }

  .filters ul {
    display: flex;
    flex-wrap: wrap;
  }

  .work-scroller {
    grid-auto-columns: 30%;
  }

  .work {
    padding: 5px;
  }

  .work h2 {
    font-size: 14px;
  }

  .work h3 {
    font-size: 12px;
  }

  .contact-left {
    padding: 30px;
  }

  .contact-left h1 span {
    padding-right: 10px;
  }

  .contact-right form {
    margin: 0;
  }

  .skillcard img {
    padding-right: 0;
  }

  .floating-circle {
    width: 80px;
    height: 80px;
    border: 6px solid #d3dcdf;
  }
}
